<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>Drivers</title>
</head>
<body>

<div layout:fragment="data_table_content">

    <tr th:each="driver,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>
        <td>
            <img th:src="@{${driver.getImageUrl()}}" width="45" height="45"/>
        </td>
        <td th:text="${driver.getFirstName()}"></td>
        <td th:text="${driver.getLastName()}"></td>
        <td>
            <a th:href="@{'/cars/carsByDriverId?driverId=' + ${driver.getId()}}" th:text="${driver.getCarCount()}" type="button" class="btn btn-link">details</a>
        </td>
        <td th:text="${driver.getBalance()}"></td>
        <td>
            <a th:href="@{'/drivers/details/' + ${driver.getId()}}" type="button" class="btn btn-primary">details</a>
        </td>
        <td>
            <a th:href="@{'/drivers/update/' + ${driver.getId()}}" type="button" class="btn btn-primary">update</a>
        </td>
        <td>
            <a th:href="@{'/drivers/delete/' + ${driver.getId()}}" type="button" class="btn btn-danger">delete</a>
        </td>
    </tr>
    <div class="col-12">
        <div class="card mt-2 mb-2">
            <div class="card-header">
                <a type="button" class="btn btn-primary" th:href="@{${createNew}}">Add</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>