<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Accounts</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    <a role="button" class="btn btn-link" th:href="@{'/users/details/' + ${user.getId()}}" th:text="${user.getFirstName()}">details</a>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>card number</th>
                            <th>balance</th>
                            <th>cardType</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="account,iter : ${accounts}">
                            <td th:text="${iter.count}"></td>
                            <td>
                                <a role="button" class="btn btn-link" th:href="@{'/accounts/details/' + ${account.getId()}}" th:text="${account.getCardNumber()}">details</a>
                            </td>
                            <td th:text="${account.getBalance()}"></td>
                            <td th:text="${account.getCardType()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
